:root {
    --global-font: 'Manrope', sans-serif;
    --handwritten-font: 'Qwigley', sans-serif;
    --brand-font: 'Days One', sans-serif;

    --black: #000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--global-font);
    font-weight: 700;
    color: var(--black);
}

/* Global Classes */

[xyz~='in-duration-11'] {
    --xyz-in-duration: 1100ms !important;
}

[xyz~='in-duration-12'] {
    --xyz-in-duration: 1200ms !important;
}

[xyz~='in-delay-11'] {
    --xyz-in-delay: 1100ms !important;
}

[xyz~='in-delay-12'] {
    --xyz-in-delay: 1200ms !important;
}

[xyz~='in-delay-13'] {
    --xyz-in-delay: 1300ms !important;
}

[xyz~='in-delay-15'] {
    --xyz-in-delay: 1500ms !important;
}

[xyz~='in-delay-17'] {
    --xyz-in-delay: 1700ms !important;
}

[xyz~='in-delay-18'] {
    --xyz-in-delay: 1800ms !important;
}

[xyz~='in-delay-19'] {
    --xyz-in-delay: 1900ms !important;
}

[xyz~='in-delay-20'] {
    --xyz-in-delay: 2000ms !important;
}

[xyz~='in-delay-21'] {
    --xyz-in-delay: 2100ms !important;
}

[xyz~='in-delay-22'] {
    --xyz-in-delay: 2200ms !important;
}

[xyz~='in-delay-23'] {
    --xyz-in-delay: 2300ms !important;
}

[xyz~='in-delay-24'] {
    --xyz-in-delay: 2400ms !important;
}

[xyz~='in-delay-25'] {
    --xyz-in-delay: 2500ms !important;
}

[xyz~='in-delay-26'] {
    --xyz-in-delay: 2600ms !important;
}

[xyz~='in-delay-27'] {
    --xyz-in-delay: 2700ms !important;
}

[xyz~='in-delay-28'] {
    --xyz-in-delay: 2800ms !important;
}

[xyz~='in-delay-29'] {
    --xyz-in-delay: 2900ms !important;
}

[xyz~='in-delay-30'] {
    --xyz-in-delay: 3000ms !important;
}

[xyz~='in-delay-31'] {
    --xyz-in-delay: 3100ms !important;
}

[xyz~='in-delay-32'] {
    --xyz-in-delay: 3200ms !important;
}

[xyz~='in-delay-33'] {
    --xyz-in-delay: 3300ms !important;
}

[xyz~='in-delay-34'] {
    --xyz-in-delay: 3400ms !important;
}

[xyz~='in-delay-35'] {
    --xyz-in-delay: 3500ms !important;
}

[xyz~='in-delay-36'] {
    --xyz-in-delay: 3600ms !important;
}

[xyz~='in-delay-37'] {
    --xyz-in-delay: 3700ms !important;
}

[xyz~='in-delay-38'] {
    --xyz-in-delay: 3800ms !important;
}

[xyz~='in-delay-39'] {
    --xyz-in-delay: 3900ms !important;
}

[xyz~='in-delay-40'] {
    --xyz-in-delay: 4000ms !important;
}

[xyz~='in-delay-42'] {
    --xyz-in-delay: 4200ms !important;
}

[xyz~='in-delay-45'] {
    --xyz-in-delay: 4500ms !important;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 128px;
    margin-bottom: 128px;
    padding: 0 70px;
    position: relative;
}

/* Nav */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-content {
    padding: 1em 2.5em 1em 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.6s ease;
    transform: translateY(-100%);
}

.nav-content-in {
    transform: translateY(0);
}

.nav-logo img {
    height: 70px;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.nav-links a {
    padding: 4px 8px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nav-link-text {
    display: block;
    position: relative;
}

.nav-links .nav-link-text::after {
    position: absolute;
    border-radius: 4px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.6);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.nav-links a:hover .nav-link-text::after,
.nav-links a:focus .nav-link-text::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Main */
main {
    min-height: 100vh;
}

.starter-top-text {
    font-size: 28px;
    font-family: var(--brand-font);
    font-weight: 700;
}

.starter-logo-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--brand-font);
    text-align: center;
}

.starter-logo-first-text-container {
    position: absolute;
    top: 128px;
    left: 50%;
    transform: translateX(-50%);
}

.starter-logo-first-text {
    font-size: 22px;
    font-family: var(--global-font);
}

.starter-logo-text {
    display: flex;
    align-items: center;
    font-size: 76px;
    line-height: 68px;
}

.starter-logo-text img {
    width: 64px;
    height: 64px;
    margin-left: 8px;
}

.starter-logo-made-in-vietnam {
    font-size: 36px;
}

.starter-logo-swipe-down-container {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.starter-logo-swipe-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: var(--global-font);
}

.starter-logo-swipe-down-icon {
    margin-top: 12px;

    animation: up-and-down 3s infinite;
}

@keyframes up-and-down {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(16px);
    }
}

.content {
    display: flex;
}

.content-item {
    width: 50%;
}

.content-img {
    width: 100%;
    height: auto;
}

.content-img-wrapper {
    position: relative;
}

.content-img-wrapper img {
    border-radius: 4px;
}

.content-img-frame {
    position: absolute;
    left: 20px;
    top: 20px;
    right: -20px;
    bottom: -20px;
    border: 6px solid #000;
    border-radius: 4px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

section:nth-child(even) .content-img-frame {
    right: 20px;
    top: 20px;
    left: -20px;
    bottom: -20px;
}

.content-text-container {
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: 3em;
}

.content-item.content-text-container:first-child {
    padding-top: 2em;
    padding-left: 0;
    padding-right: 3em;
}

.content-heading {
    font-family: var(--handwritten-font);
    font-size: 128px;
    line-height: 128px;
    margin-bottom: 32px;
}

.content-text {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 12px;
    text-align: justify;
    text-indent: 4em;
}
