:root {
    --global-font: 'Be Vietnam Pro', sans-serif;
    --handwritten-font: 'Qwigley', sans-serif;
    --brand-font: 'Days One', sans-serif;

    --black: #000;
    --small-logo-circle-size: 12px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--global-font);
    font-weight: 700;
    color: var(--black);
}

/* Global Classes */

[xyz~='in-duration-11'] {
    --xyz-in-duration: 1100ms !important;
}

[xyz~='in-duration-12'] {
    --xyz-in-duration: 1200ms !important;
}

/* In Delay */

[xyz~='in-delay-12'] {
    --xyz-in-delay: 1200ms !important;
}

[xyz~='in-delay-11'] {
    --xyz-in-delay: 1100ms !important;
}

[xyz~='in-delay-12'] {
    --xyz-in-delay: 1200ms !important;
}

[xyz~='in-delay-13'] {
    --xyz-in-delay: 1300ms !important;
}

[xyz~='in-delay-14'] {
    --xyz-in-delay: 1400ms !important;
}

[xyz~='in-delay-15'] {
    --xyz-in-delay: 1500ms !important;
}

[xyz~='in-delay-16'] {
    --xyz-in-delay: 1600ms !important;
}

[xyz~='in-delay-17'] {
    --xyz-in-delay: 1700ms !important;
}

[xyz~='in-delay-18'] {
    --xyz-in-delay: 1800ms !important;
}

[xyz~='in-delay-19'] {
    --xyz-in-delay: 1900ms !important;
}

[xyz~='in-delay-20'] {
    --xyz-in-delay: 2000ms !important;
}

[xyz~='in-delay-21'] {
    --xyz-in-delay: 2100ms !important;
}

[xyz~='in-delay-22'] {
    --xyz-in-delay: 2200ms !important;
}

[xyz~='in-delay-23'] {
    --xyz-in-delay: 2300ms !important;
}

[xyz~='in-delay-24'] {
    --xyz-in-delay: 2400ms !important;
}

[xyz~='in-delay-25'] {
    --xyz-in-delay: 2500ms !important;
}

[xyz~='in-delay-26'] {
    --xyz-in-delay: 2600ms !important;
}

[xyz~='in-delay-27'] {
    --xyz-in-delay: 2700ms !important;
}

[xyz~='in-delay-28'] {
    --xyz-in-delay: 2800ms !important;
}

[xyz~='in-delay-29'] {
    --xyz-in-delay: 2900ms !important;
}

[xyz~='in-delay-30'] {
    --xyz-in-delay: 3000ms !important;
}

[xyz~='in-delay-31'] {
    --xyz-in-delay: 3100ms !important;
}

[xyz~='in-delay-32'] {
    --xyz-in-delay: 3200ms !important;
}

[xyz~='in-delay-33'] {
    --xyz-in-delay: 3300ms !important;
}

[xyz~='in-delay-34'] {
    --xyz-in-delay: 3400ms !important;
}

[xyz~='in-delay-35'] {
    --xyz-in-delay: 3500ms !important;
}

[xyz~='in-delay-36'] {
    --xyz-in-delay: 3600ms !important;
}

[xyz~='in-delay-37'] {
    --xyz-in-delay: 3700ms !important;
}

[xyz~='in-delay-38'] {
    --xyz-in-delay: 3800ms !important;
}

[xyz~='in-delay-39'] {
    --xyz-in-delay: 3900ms !important;
}

[xyz~='in-delay-40'] {
    --xyz-in-delay: 4000ms !important;
}

[xyz~='in-delay-42'] {
    --xyz-in-delay: 4200ms !important;
}

[xyz~='in-delay-45'] {
    --xyz-in-delay: 4500ms !important;
}

[xyz~='in-delay-52'] {
    --xyz-in-delay: 5200ms !important;
}

[xyz~='in-delay-78'] {
    --xyz-in-delay: 7800ms !important;
}

/* Delay */

[xyz~='delay-12'] {
    --xyz-delay: 1200ms !important;
}

[xyz~='delay-11'] {
    --xyz-delay: 1100ms !important;
}

[xyz~='delay-12'] {
    --xyz-delay: 1200ms !important;
}

[xyz~='delay-13'] {
    --xyz-delay: 1300ms !important;
}

[xyz~='delay-14'] {
    --xyz-delay: 1400ms !important;
}

[xyz~='delay-15'] {
    --xyz-delay: 1500ms !important;
}

[xyz~='delay-16'] {
    --xyz-delay: 1600ms !important;
}

[xyz~='delay-17'] {
    --xyz-delay: 1700ms !important;
}

[xyz~='delay-18'] {
    --xyz-delay: 1800ms !important;
}

[xyz~='delay-19'] {
    --xyz-delay: 1900ms !important;
}

[xyz~='delay-20'] {
    --xyz-delay: 2000ms !important;
}

[xyz~='delay-21'] {
    --xyz-delay: 2100ms !important;
}

[xyz~='delay-22'] {
    --xyz-delay: 2200ms !important;
}

[xyz~='delay-23'] {
    --xyz-delay: 2300ms !important;
}

[xyz~='delay-24'] {
    --xyz-delay: 2400ms !important;
}

[xyz~='delay-25'] {
    --xyz-delay: 2500ms !important;
}

[xyz~='delay-26'] {
    --xyz-delay: 2600ms !important;
}

[xyz~='delay-27'] {
    --xyz-delay: 2700ms !important;
}

[xyz~='delay-28'] {
    --xyz-delay: 2800ms !important;
}

[xyz~='delay-29'] {
    --xyz-delay: 2900ms !important;
}

[xyz~='delay-30'] {
    --xyz-delay: 3000ms !important;
}

[xyz~='delay-31'] {
    --xyz-delay: 3100ms !important;
}

[xyz~='delay-32'] {
    --xyz-delay: 3200ms !important;
}

[xyz~='delay-33'] {
    --xyz-delay: 3300ms !important;
}

[xyz~='delay-34'] {
    --xyz-delay: 3400ms !important;
}

[xyz~='delay-35'] {
    --xyz-delay: 3500ms !important;
}

[xyz~='delay-36'] {
    --xyz-delay: 3600ms !important;
}

[xyz~='delay-37'] {
    --xyz-delay: 3700ms !important;
}

[xyz~='delay-38'] {
    --xyz-delay: 3800ms !important;
}

[xyz~='delay-39'] {
    --xyz-delay: 3900ms !important;
}

[xyz~='delay-40'] {
    --xyz-delay: 4000ms !important;
}

[xyz~='delay-42'] {
    --xyz-delay: 4200ms !important;
}

[xyz~='delay-45'] {
    --xyz-delay: 4500ms !important;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 128px;
    margin-bottom: 128px; */
    padding: 3em 70px 0;
    position: relative;
}

/* Nav */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-content {
    padding: 1em 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.6s ease 7.2s;
    transform: translateY(-100%);
}

.nav-content-in {
    transform: translateY(0);
}

.nav-logo img {
    height: 70px;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.nav-links a {
    padding: 4px 8px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nav-link-text {
    display: block;
    position: relative;
}

.nav-links .nav-link-text::after {
    position: absolute;
    border-radius: 4px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.6);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.nav-link-text.active::after,
.nav-links a:hover .nav-link-text::after,
.nav-links a:focus .nav-link-text::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Main */
main {
    min-height: 100vh;
}

.starter-top-text {
    font-size: 28px;
    font-family: var(--brand-font);
    font-weight: 700;
}

.starter-logo-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--brand-font);
    text-align: center;
}

.starter-logo-first-text-container {
    position: absolute;
    top: 128px;
    left: 50%;
    transform: translateX(-50%);
}

.starter-logo-first-text {
    font-size: 22px;
    font-family: var(--global-font);
}

.starter-logo-text {
    display: flex;
    align-items: center;
    font-size: 76px;
    line-height: 68px;
}

.starter-logo-text img {
    width: 64px;
    height: 64px;
    margin-left: 8px;
}

.starter-logo-made-in-vietnam {
    font-size: 36px;
}

.starter-logo-swipe-down-container {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.starter-logo-swipe-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--global-font);
}

.starter-logo-swipe-down-icon {
    margin-top: 12px;

    animation: up-and-down 3s infinite;
}

@keyframes up-and-down {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(16px);
    }
}

.content {
    display: flex;
}

.content-item {
    width: 50%;
}

.content-img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 205px);
    object-fit: cover;
    object-position: center;
}

.content-img-wrapper {
    position: relative;
    height: fit-content;
}

.content-img-wrapper img {
    border-radius: 8px;
}

.content-img-frame {
    position: absolute;
    right: 20px;
    top: 20px;
    left: -20px;
    bottom: -20px;
    border: 6px solid #000;
    border-radius: 4px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

section:nth-child(even) .content-img-frame {
    left: 20px;
    top: 20px;
    right: -20px;
    bottom: -20px;
}

.content-text-container {
    padding-top: 0;
    padding-left: 3em;
}

.content-item.content-text-container:first-child {
    padding-top: 0;
    padding-left: 0;
    padding-right: 3em;
}

.content-heading {
    font-family: var(--handwritten-font);
    font-size: 128px;
    line-height: 128px;
    margin-bottom: 32px;
}

.content-text {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 12px;
    text-align: justify;
    text-indent: 4em;
}

/* Slide */

.fp-controlArrow.fp-prev {
    border-width: unset !important;
    border-color: transparent transparent transparent transparent !important;
    background: url(../img/arrow-back.svg) no-repeat !important;

    width: 40px !important;
    height: 40px !important;
    left: 20px !important;
    top: unset !important;
    bottom: 20px !important;
    transition: all 0.3s ease;
}

.fp-controlArrow.fp-prev:hover {
    left: 8px !important;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent transparent !important;
    border-width: unset !important;
    background: url(../img/arrow-next.svg) no-repeat !important;

    width: 40px !important;
    height: 40px !important;
    right: 20px !important;
    top: unset !important;
    bottom: 20px !important;
    transition: all 0.3s ease;
}

.fp-controlArrow.fp-next:hover {
    right: 8px !important;
}

.slide-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-family: var(--global-font);
}

.slide-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.slide-heading {
    font-family: var(--brand-font);
    font-size: 72px;
    text-align: center;
}

.slide-content {
    display: flex;
    height: 100%;
    padding: 0 40px;
}

.slide-content > div {
    width: 50%;
}

.slide-collab {
    font-family: var(--brand-font);
    font-size: 70px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 945px;
}

.slide-video-container {
    position: relative;
    max-width: 100%;
}

.slide-video video {
    max-width: 100%;
    max-height: calc(100vh - 140px);
}

.slide-video img {
    max-width: 100%;
    max-height: calc(100vh - 140px);
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.slide-video-border {
    border-radius: 6px;
    overflow: hidden;
    max-height: calc(100vh - 140px);
    position: relative;
}

.slide-video-frame {
    position: absolute;
    border: 6px solid #000;
    border-radius: 4px;
    z-index: -1;
    width: 100%;
    height: 100%;
    right: 20px;
    top: 20px;
    left: -20px;
    bottom: -20px;
}

.slide:nth-child(even) .slide-video-frame {
    left: 20px;
    top: 20px;
    right: -20px;
    bottom: -20px;
}

/* Bullet Navigation */
body .fp-tooltip.fp-right {
    padding: 4px 8px !important;
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-family: var(--global-font) !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.fp-slidesNav.fp-bottom {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#fp-nav.fp-right {
    opacity: 0 !important;
    transition: opacity 0.6s ease 7.2s;
}

/* Loading Screen */
.loading-screen {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-screen-starter {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.loading-screen .signature-y {
    width: 120px;
    height: auto;
    transition: width ease 0.9s;
    transition-delay: 1s;
}

.loading-screen.loaded .signature-y {
    width: 160px;
}

.loading-screen.loaded .progress-bar-container {
    opacity: 0;
}

.progress-bar-container {
    width: 200px;
    height: 4px;
    background-color: #f3f3f3;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -40px;
    transition: opacity 0.8s linear;
}

.progress-bar {
    height: 100%;
    background-color: #000;
    width: 0;
    transition: width linear 0.6s;
}

.circular-border-desktop {
    width: 350px;
    height: 350px;
    overflow: visible;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.circular-border-desktop circle {
    fill: none;
    stroke: #000;
    stroke-width: 16;
    /* stroke-dasharray: 1099; 
    stroke-dashoffset: 1099; */
    stroke-dasharray: 1100; /* Slightly increased value to cover the gap */
    stroke-dashoffset: 1100;
}

.circular-border-tablet {
    width: 260px;
    height: 260px;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.circular-border-tablet circle {
    fill: none;
    stroke: #000;
    stroke-width: 16;
    stroke-dasharray: 817.14; /* Scaled value */
    stroke-dashoffset: 817.14; /* Scaled value */
}

.circular-border-mobile {
    width: 230px;
    height: 230px;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.circular-border-mobile circle {
    fill: none;
    stroke: #000;
    stroke-width: 12;
    stroke-dasharray: 722.57; /* Updated value */
    stroke-dashoffset: 722.57; /* Updated value */
}

.loading-animation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
}

.loading-screen.loaded .circular-border-desktop circle,
.loading-screen.loaded .circular-border-tablet circle,
.loading-screen.loaded .circular-border-mobile circle {
    animation: drawCircle 1s linear forwards;
    animation-delay: 2s;
}

@keyframes drawCircle {
    to {
        stroke-dashoffset: 0;
    }
}

.loading-screen.loaded .circle-border {
    opacity: 1;
}

.circle-border {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity ease 1s 3.2s;
}

.small-circle {
    position: absolute;
    width: var(--small-logo-circle-size);
    height: var(--small-logo-circle-size);
    background-color: #000;
    border-radius: 50%;
}

.loading-screen.loaded .loading-signature-logo {
    transform: scale(0.4);
    top: 107px;
    left: 77px;
}

.loading-signature-logo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: all ease 0.7s 4.2s;
}

.logo-hand {
    width: 100%;
    height: auto;
    transition: opacity ease 0.8s 4.2s;
    opacity: 0;
}

.loading-screen.loaded .logo-hand {
    opacity: 1;
}

.logo-dirty-container {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.logo-dirty-container img {
    height: 164px;
    width: auto;
}

.logo-coins-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.logo-coins-container img {
    height: 164px;
    width: auto;
}

.logo-bullet-left-container,
.logo-bullet-right-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo-bullet-left,
.logo-bullet-right {
    border-radius: 50%;
    background-color: #000;
    width: 40px;
    height: 40px;
}

.logo-bullet-left-container {
    right: calc(100% + 80px);
}

.logo-bullet-right-container {
    left: calc(100% + 80px);
}

.loading-screen.loaded {
    animation: fadeOut ease 0.7s 6.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden; /* Ensures the element is hidden after the animation */
    }
}

.slide-img-hide {
    display: none;
}

@media screen and (max-width: 1558px) {
    .content-heading {
        font-size: 96px;
        line-height: 96px;
        margin-bottom: 28px;
    }

    .slide-heading {
        font-size: 68px;
    }

    .slide-content {
        padding-top: 24px;
        padding-left: 28px;
        padding-right: 28px
    }

    .slide-collab {
        font-size: 64px;
    }

    .slide-video-border,
    .slide-video video {
        max-height: calc(80vh);
    }

    .starter-logo-text {
        font-size: 68px;
    }

    .starter-logo-made-in-vietnam {
        font-size: 30px;
    }
}

@media screen and (max-width: 1340px) {
    .content-text-container {
        padding-left: 36px;
    }

    .content-heading {
        font-size: 88px;
        line-height: 88px;
        margin-bottom: 8px;
    }

    .content-text {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 6px;
    }

    .slide-heading {
        font-size: 60px;
    }

    .slide-content {
        padding-top: 20px;
    }

    .slide-collab {
        font-size: 56px;
    }

    .slide-video-border,
    .slide-video video {
        max-height: calc(60vh);
    }

    .starter-logo-text {
        font-size: 60px;
        line-height: 42px;
    }

    .starter-logo-made-in-vietnam {
        font-size: 26px;
    }

    .starter-logo-text img {
        height: 48px;
        width: 48px;
    }
}

@media screen and (max-width: 1116px) {
    .content-text-container {
        padding-left: 28px;
    }

    .content-heading {
        font-size: 76px;
        line-height: 72px;
        margin-bottom: 10px;
    }

    .content-text {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 6px;
    }

    .slide-heading {
        font-size: 56px;
    }

    .slide-content {
        padding-top: 16px;
    }

    .slide-collab {
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --small-logo-circle-size: 8px;
    }

    .starter-logo-swipe-down {
        font-size: 16px;
    }

    .starter-logo-swipe-down-icon {
        width: 36px;
    }

    .starter-logo-swipe-down-container {
        bottom: 20px;
    }

    @keyframes up-and-down {
        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(8px);
        }
    }

    #fp-nav.fp-right {
        right: 0px !important;
    }

    #fp-nav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li a.active span,
    .fp-slidesNav ul li:hover a.active span {
        height: 10px !important;
        width: 10px !important;
        margin: -4px 0 0 -5px !important;
        border-radius: 100% !important;
    }

    .nav-content {
        padding: 1em 48px;
    }

    .nav-logo img {
        height: 52px;
    }

    .nav-links {
        font-size: 18px;
    }

    .starter-logo-text {
        font-size: 56px;
        line-height: 48px;
    }

    .starter-logo-text img {
        width: 48px;
        height: 48px;
    }

    .starter-logo-made-in-vietnam {
        font-size: 28px;
    }

    .container {
        padding: 48px 48px 0;
    }

    .content {
        gap: 28px;
    }

    .content-text-container {
        padding-left: 0;
        padding-bottom: 0;
    }

    .content-item.content-text-container:first-child {
        padding-left: 0;
        padding-right: 0;
    }

    .content-heading {
        font-size: 56px;
        line-height: 58px;
        margin-bottom: 8px;
    }

    .content-text {
        font-size: 15px;
        line-height: 1.5;
        text-indent: 1.8em;
        margin-bottom: 4px;
    }

    .slide-heading {
        font-size: 52px;
    }

    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev {
        transform: scale(0.8);
    }

    .slide-collab {
        font-size: 48px;
    }

    .slide-content {
        padding: 0 48px 0;
    }

    .loading-screen .signature-y {
        width: 84px;
        height: auto;
        transition: width ease 0.9s;
        transition-delay: 1s;
    }

    .loading-screen.loaded .signature-y {
        width: 116px;
    }

    .progress-bar-container {
        width: 140px;
        bottom: -28px;
    }

    .circular-border-desktop {
        display: none;
    }

    .circular-border-tablet {
        display: inline;
    }

    .loading-animation-container {
        width: 200px;
    }

    .logo-coins-container img,
    .logo-dirty-container img {
        height: 112px;
    }

    .logo-bullet-left,
    .logo-bullet-right {
        width: 20px;
        height: 20px;
    }

    .logo-bullet-left-container {
        right: calc(100% + 40px);
    }

    .logo-bullet-right-container {
        left: calc(100% + 40px);
    }

    .circle-border {
        width: 220px;
        height: 220px;
    }

    .loading-screen.loaded .loading-signature-logo {
        top: 77px;
        left: 57px;
        transform: scale(0.34);
    }

    .slide-video-border,
    .slide-video video {
        max-height: calc(70vh);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --small-logo-circle-size: 8px;
    }

    .nav-content {
        padding: 1em 12px;
    }

    .nav-logo img {
        height: 40px;
    }

    .nav-links {
        font-size: 16px;
    }

    .starter-logo-text {
        font-size: 36px;
        line-height: 30px;
    }

    .starter-logo-text img {
        width: 32px;
        height: 32px;
    }

    .starter-logo-made-in-vietnam {
        font-size: 20px;
    }

    .starter-logo-swipe-down {
        font-size: 14px;
    }

    .starter-logo-swipe-down-icon {
        width: 30px;
    }

    .container {
        padding: 76px 28px 0 12px;
        height: 100%;
    }

    .content {
        flex-direction: column;
        gap: 12px;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .content-item {
        width: 100%;
    }

    .content-img-frame {
        display: none;
    }

    .content-img {
        max-height: 25vh;
    }

    .content-heading {
        font-size: 48px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .content-text {
        font-size: 14px;
        line-height: 1.5;
    }

    .slide-heading {
        font-size: 24px;
    }

    .slide-collab {
        font-size: 24px;
    }

    .slide-content {
        height: 100%;
        padding: 88px 12px 48px;
        flex-direction: column;
        gap: 14px;
        max-height: 100vh;
    }

    .slide-collab {
        height: fit-content;
        width: 100%;
    }

    .slide-content > div {
        width: 100%;
    }

    .slide-video {
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slide-video-hide {
        display: none;
    }

    .slide-img-hide {
        display: flex;
    }

    .slide-video video {
        height: 100%;
        max-width: calc(100vw - 65px);
        max-height: unset;
    }

    .slide-video img {
        max-width: calc(100vw - 65px);
    }

    .slide-video-frame {
        display: none;
    }

    .slide-content a {
        pointer-events: none !important;
    }

    .fp-controlArrow.fp-prev {
        bottom: 4px !important;
        left: 0px !important;
    }

    .fp-controlArrow.fp-prev:hover {
        left: -2px !important;
    }

    .fp-controlArrow.fp-next {
        bottom: 4px !important;
        right: 0px !important;
    }

    .fp-controlArrow.fp-next:hover {
        right: -2px !important;
    }

    .loading-screen .signature-y {
        width: 72px;
        height: auto;
        transition: width ease 0.9s;
        transition-delay: 1s;
    }

    .loading-screen.loaded .signature-y {
        width: 96px;
    }

    .progress-bar-container {
        width: 128px;
        bottom: -20px;
    }

    .circular-border-desktop {
        display: none;
    }

    .circular-border-tablet {
        display: none;
    }

    .circular-border-mobile {
        display: inline;
    }

    .loading-animation-container {
        width: 170px;
    }

    .logo-coins-container img,
    .logo-dirty-container img {
        height: 92px;
    }

    .logo-bullet-left,
    .logo-bullet-right {
        width: 16px;
        height: 16px;
    }

    .logo-bullet-left-container {
        right: calc(100% + 32px);
    }

    .logo-bullet-right-container {
        left: calc(100% + 32px);
    }

    .circle-border {
        width: 190px;
        height: 190px;
    }

    .loading-screen.loaded .loading-signature-logo {
        top: 57px;
        left: 41px;
        transform: scale(0.34);
    }
}
